img{
   border: 2px solid; 
}
div.hobies1{
    background-color: cornsilk;
    margin: 0%;
    padding: 2%;
}
div.hobies2{
    background-color: cornsilk;
    margin: 0%;
    padding: 2%;
    text-align: right;
}
div.hobies3{
    background-color: cornsilk;
    margin: 0%;
    padding: 2%;
}